@import 'variables';
////////////////////////////////////////////////////////////////////////////////
// Remove the Right Hand Panel
////////////////////////////////////////////////////////////////////////////////
// These are the style overides for when the user wants to place code samples
// in-line with the contents of the document

.dark-box {
  display: none;
}

%left-col {
  margin-right: 0;
}

.tocify-wrapper .lang-selector {
  display: block;
}

.page-wrapper .lang-selector {
  display: none;
}

.content>h1, .content>h2, .content>h3, .content>h4, .content>h5, .content>h6, .content>p, .content>table, .content>ul, .content>ol, .content>aside, .content>dl {
  margin-right: 0;
}

.content pre, .content blockquote {
  margin: 0;
  width: 100%;
  float: none;
  clear: right;
  max-height: none;
}

%right-col {
  width: auto;
  float: none;
}

%right-col + %left-col {
  margin-top: $main-padding;
}