/**
 * @file _nist-combined.scss
 * Header and Footer styles 
 *
 */

/* Special button styles */
button.button-xml-off  { background-color: $color-cool-blue-lightest }
button.button-json-off { background-color: $color-green-lightest }

button.button-xml-on  { background-color: $color-cool-blue }
button.button-json-on { background-color: $color-green }


/* Schema Model Map styles */
div.OM-map { margin-top: 0ex; margin-bottom: 0ex; font-family: monospace; font-weight: bold; color: $color-base; }

div.usa-layout-docs-main_content > div.OM-map {  border: medium solid $color-gray-lighter }

div.OM-map div.OM-map { margin-left: 2em } 

.OM-entry { border: medium solid $color-gray-lightest; background-color: $color-gray-lightest; padding-right: 0.5rem }

.OM-entry:hover { border: medium solid $color-focus }

.OM-entry.hide_me:hover { border: medium solid $color-gray-lightest }

div.OM-map p { margin: 0ex }

span.OM-lit { font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-style: normal }

span.OM-emph { font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-style: italic }

span.OM-cardinality { font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-style: normal; color: $color-primary-darker }

.OM-name { color: $color-primary }

.OM-map a { text-decoration: none; color: $color-primary }

OM-map a:visited { color: $color-primary }
 
a.OM-name:hover { text-decoration: underline }

.hide_me { display: none }

a.expander-collapser { font-size: 120%; font-weight: normal; width: 2em; color: $color-base; font-weight: bold }
a.expander-collapser:hover { text-decoration: none }

 
/* Header Styles */

.nist-header {
    background: #000;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 16px 0;
    font-size: 16px;
}

.nist-header__logo-link {
    display: inline-block;
    height: 35px;
}

.nist-header__logo-icon {
    fill: #fff;
    display: inline-block;
    height: 16px;
    position: relative;
    top: -2px;
    margin-right: 2px;
}

.nist-header__logo-image {
    fill: #fff;
    display: inline-block;
    height: 24px;
    width: 90px;
}


/* Limit main content area width */

.nist-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 16px;
    box-sizing: border-box;
}


/* Make sure body has no margin or padding when using only this header component */

body {
    padding: 0;
    margin: 0;
}


/* Footer styles */

.nist-footer {
    background: #333333;
    position: relative;
    z-index: 200;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.nist-footer__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 16px;
}

.nist-footer__inner:after {
    content: "";
    display: table;
    clear: both;
}

.nist-footer {
    background: #333333;
    color: white;
    padding: 40px 0px;
    position: relative;
}

.nist-footer a {
    color: white;
    text-decoration: none;
}

.nist-footer .nist-footer__logo img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.nist-footer__menu {
    clear: both;
    margin-bottom: 10px;
}

.nist-footer__menu.first {
    padding-top: 20px;
}

.nist-footer__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.nist-footer__menu-item {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    margin-left: 0;
}

.nist-footer__menu-item:after {
    content: '|';
    margin-right: 1.6px;
    display: inherit;
    position: static;
    font: inherit;
    line-height: inherit;
    color: inherit;
}

.nist-footer__menu-item:last-child:after {
    content: none;
}

.nist-footer__menu-item a {
    font-weight: normal;
    margin-right: 6px;
    white-space: nowrap;
    padding: 0.5em 0;
    display: inline-block;
}


/**
 * Stick footer to bottom of page
 * Source: https://css-tricks.com/couple-takes-sticky-footer/
 */

html.nist-footer-bottom,
html.nist-footer-bottom body {
    height: 100%;
}

html.nist-footer-bottom body {
    display: flex;
    flex-direction: column;
}

html.nist-footer-bottom #main {
    flex: 1 0 auto;
}

html.nist-footer-bottom .nist-footer {
    flex-shrink: 0;
}