# directory specific owners
/.github/               @usnistgov/itl-oscal-maintainers
/build/                 @usnistgov/itl-oscal-maintainers
/content/               @david-waltermire-nist
/docs/                  @david-waltermire-nist
/docs/content           @david-waltermire-nist @iMichaela
/json/                  
/xml/                   
/src/                   @usnistgov/itl-oscal-maintainers
/src/metaschema         @david-waltermire-nist
/src/specifications/profile-resolution  @stephenbanghart
/src/utils              @wendellpiez
