# directory specific owners
/.github/               @usnistgov/itl-oscal-maintainers
/build/                 @usnistgov/itl-oscal-maintainers
/content/               @aj-stein-nist
/docs/                  @aj-stein-nist
/docs/content           @aj-stein-nist @iMichaela
/json/                  
/xml/                   
/src/                   @usnistgov/itl-oscal-maintainers
/src/metaschema         @aj-stein-nist
/src/specifications/profile-resolution  @david-waltermire-nist @wendellpiez
/src/utils              @wendellpiez
