.DS_Store

# Proprietary files not to be propagated
vault

# IDE files
*.xpr
/OSCAL-dev.xpr
.vscode

# Working files
scratch
wendell
backup*
working/

# Production outputs
pub/
roundtripped/
target/
xspec/*.html

# ignore generated content
content
xml
json
svrl
.skipbuild
.runbuild

# but allow markdown files
!content/**/*.md
!xml/**/*.md
!json/**/*.md
/roundtrip
__pycache__
