[submodule "docs/themes/uswds"]
	path = docs/themes/uswds
	url = git@github.com:usnistgov/hugo-uswds.git
	branch = master
	update = rebase
[submodule "build/metaschema"]
	path = build/metaschema
	url = git@github.com:usnistgov/metaschema.git
	branch = master
