
.grid-container {
  max-width: 100%;
}

.usa-prose > p {
  max-width: 100%;
}

.usa-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.usa-list li, .usa-prose > ul li, .usa-prose > ol li {
  max-width: inherit;
}
