/*
$theme-site-max-width: 'full';
$theme-grid-container-max-width: 'full';
$theme-banner-max-width: 'full';
$theme-header-max-width: 'full';
$theme-text-measure: 'none';
*/
$theme-site-max-width: 'widescreen';
$theme-grid-container-max-width: 'widescreen';
$theme-banner-max-width: 'widescreen';
$theme-header-max-width: 'widescreen';
