@import 'schema-docs';
@import 'oscal-specs';


.nist-footer {
  font-family: inherit;
}

@media print {
  .nist-header {
    display: none;
  }

  .nist-footer {
    display: none;
  }
}

.usa-nav__secondary-links {
  @include at-media($theme-header-min-width) {
    float: inherit;
  }
}
