
code.src { font-weight: bold; font-size: 90%; background-color: pink }
code.tgt { font-weight: bold; font-size: 90%; background-color: lightyellow }


span.revisit { font-size: 90%; font-style: italic; background-color: #B0E0E6 }
