
@mixin header-text($header-fg) {
  @include u-font('heading', xl);
  @include u-text($header-fg, 'normal');
  a {
    &:visited {
      @include u-text($header-fg);
    }
    &:hover {
      @include u-text('bold');
    }
  }
}

@mixin supporting-text {
  @include u-font('body', 'md');
  @include u-text('base-darker','normal');
  a {
    @include u-text('primary','normal');
    &:visited {
      @include u-text('primary');
    }
    &:hover {
      @include u-text('bold');
    }
  }
}

@mixin model-text {
  @include u-font('mono', 'md');
  @include u-text('base-darker','normal');
  a {
    @include u-text('primary','normal');
    &:visited {
      @include u-text('primary');
    }
    &:hover {
      @include u-text('bold');
    }
  }
}

@mixin doc-index($header-bg,$header-fg) {
  @include supporting-text();
  section.named-object-group {
    /*@include u-bg('base-lightest');*/
    @include u-margin-bottom(2);
    @include u-padding-bottom('105');
    @include u-border(1px,'base-light');
    @include u-radius('md');

  }

  h1.toc1 {
    @include u-bg($header-bg);
    @include header-text($header-fg);
    @include u-padding(1);
  }

  ul {
    @include u-padding-right(1);
  }

  li {
    overflow-wrap: normal;
  }

  span.pathlink {
    @include model-text;
    @include u-text('bold');
    @include u-padding-x(2px);
    @include u-margin-x(2px);
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,.75);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,.75);
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,.75);

    a {
      @include u-text('normal');
    }
  }

  span.formal-name {
    @include supporting-text();
    a {
      @include u-text('bold');
    }
  }
}

.xml-index {
  @include doc-index('green-cool-20','green-cool-80');
}

.json-index {
  @include doc-index('blue-20','blue-80');
}

.xml-outline, .json-outline {
  @include model-text();
  hyphens: none;

  div.OM-entry p {
    line-height: 1.5;
  }
  details.OM-entry {
    .model-container {
      margin-left: 2.5em;
    }
    &[open] {
      summary {
        .show-closed {
          display: none;
        }
      }
    }
    &:not([open]) {
      summary {
        .show-closed {
          display: initial;
        }
      }
    }
    summary {
      cursor: pointer;
      list-style-position: outside;
      line-height: 1.5;
    }
  }
  /*span.OM-cardinality {  }*/
  .model-container + p {
    margin-top: 0;
  }

  a, a:visited {
    text-decoration: none;
  }

  div.OM-choice {
    @include u-padding-left(2);
  }
}

@mixin reference-header($definition-header-bg,$instance-header-bg,$header-fg) {
  div.definition-header, div.instance-header, div.array-header {
    .name, p.array-member {
      @include header-text($header-fg);
      @include u-font('heading', lg);
      @include u-line-height('heading', 1);
      @include u-margin(0);
      grid-area: name;
      margin: 0;
      align-self: start;
      text-transform: inherit;
    }
    p.type {
      @include model-text();
      @include u-line-height('mono', 1);
      grid-area: type;
      margin: 0;
      align-self: start;
    }
    p.occurrence {
      @include model-text();
      @include u-line-height('mono', 1);
      grid-area: occurance;
      margin: 0;
      align-self: start;
    }
    div.crosslink {
      grid-area: crosslink;
      margin: 0;
      align-self: start;
      justify-self: end;

      /*
      a.usa-button {

      }
      */
    }
    .formal-name {
      @include supporting-text();
      grid-area: formal-name;
      margin: 0;
      align-self: center;
    }
  }
  
  div.definition-header {
    @include u-bg($definition-header-bg);
    @include header-text($header-fg);
    @include u-margin-top('105');
    @include u-border(1px,'base-light');
    @include u-radius('md');
    padding: .5rem;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: auto auto;
    grid-gap: .5em;
    grid-template-areas: 
      "name type crosslink"
      "formal-name formal-name crosslink";
  }

  div.instance-header {
    @include u-bg($instance-header-bg);
    @include header-text($header-fg);
    @include u-border(1px,'base-light');
    @include u-radius('md');
    padding: .5rem;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr;
    grid-template-rows: auto auto;
    grid-gap: .5em;
    grid-template-areas: 
      "name type occurance crosslink"
      "formal-name formal-name formal-name crosslink";
  }
  div.array-header {
    @include u-bg('gray-10');
    @include header-text($header-fg);
    @include u-border(1px,'base-light');
    @include u-radius-bottom('md');
    padding: .5rem;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr;
    grid-template-rows: auto auto;
    grid-gap: .5em;
    grid-template-areas: 
      "name type occurance formal-name";

      .formal-name {
        align-self: right;
    }
  }
  div.body {
    @include u-padding-left('105');
    @include u-border-left(2px,'base-lightest');
    @include u-margin-bottom('105');
    
    > p {
      margin-top: 0.5rem;
    }
    details {
      margin-top: 0.5rem;
      summary {
        @include u-margin-bottom('05');
      }
    }
  }
}

.xml-reference, .xml-definition {
  @include reference-header('green-cool-20','green-cool-10','green-cool-80');

  div.crosslink a.usa-button {
    @include u-bg('green-cool-70');
    @include u-text('white','bold');
    &:visited {
      @include u-text('white');
    }
    &:hover {
      @include u-text('bold');
    }
  }
}

.json-reference, .json-definition {
  @include reference-header('blue-20','blue-10','blue-80');

  div.crosslink a.usa-button {
    @include u-bg('blue-70');
    @include u-text('white','bold');
    &:visited {
      @include u-text('white');
    }
    &:hover {
      @include u-text('bold');
    }
  }
}
