

/*.model-entry p { margin-top: units( 0.5 )*/

.field-header, .assembly-header, .flag-header {
  clear: inherit;
}

.label { @extend .usa-tag }

li.model-entry p {
  @extend .margin-top-05;
  @extend .margin-bottom-0 }

li.model-entry > *:not(:first-child) { @extend .font-body-xs }


.definition-header { @extend .padding-1; @extend .bg-base-lightest }
div.json-docs .definition-header { @extend .bg-primary-lighter }


.definition-header h2 { @extend .text-accent-cool-darker;
  @extend .margin-bottom-0;
  @extend .margin-top-0 }

.crosslink { @extend .float-right }

div.definition { @extend .margin-top-105 }

code.tagging { @extend .text-primary-darker }

div.example { @extend .usa-accordion;
  @extend .usa-accordion--bordered }

div.example h3 { @extend .usa-accordion__heading }

div.example h3 button { @extend .usa-accordion__button }

div.example div.example-content { @extend .usa-accordion__content }

span.model-description { @extend .font-body-xs }

div.remarks { @extend .measure-6;
  @extend .border-base-light;
  @extend .border-left-05;
  @extend .padding-left-1;
  @extend .font-body-xs }

.occurrence { @extend .text-primary }

button.schema-link { @extend .usa-button }

/* For the model maps */

/* Schema Model Map styles */
div.OM-map {
  margin-top: 0ex;
  margin-bottom: 0ex;
  @include u-font-family('mono');
  font-weight: bold;
  color: #212121;
}

div.usa-layout-docs-main_content > div.OM-map {
  border: medium solid #d6d7d9; }

div.OM-map div.OM-map {
  margin-left: 2em; }

.OM-entry {
  @extend .bg-base-lighter;
  @extend .border-base-light;
  padding-right: 0.5rem;
  margin-top: 0rem;
}

.OM-entry:hover {
  border: medium solid #aeb0b5; }

.OM-entry.hide_me:hover {
  border: medium solid #f1f1f1; }

div.OM-map p {
  margin: 0ex; }

span.OM-lit {
  @include u-font-family('sans');
  font-weight: normal;
  font-style: normal; }

span.OM-emph {
  @include u-font-family('sans');
  font-weight: normal;
  font-style: italic; }

span.OM-cardinality {
  @include u-font-family('sans');
  font-weight: normal;
  font-style: normal;
  color: #205493; }

.OM-name {
  color: #0071bc; }

.OM-map a {
  text-decoration: none;
  color: #0071bc; }

OM-map a:visited {
  color: #0071bc; }

a.OM-name:hover {
  text-decoration: underline; }

.hide_me {
  display: none; }

a.expander-collapser {
  font-size: 120%;
  font-weight: normal;
  width: 2em;
  color: #212121;
  font-weight: bold; }

a.expander-collapser:hover {
  text-decoration: none; }


pre {
  @extend .bg-base-lighter
}

pre.json {
    @extend .bg-primary-lighter
}

summary { display: list-item;  cursor: pointer }

.define-assembly,
.define-field,
.define-flag {
    margin-top: 1ex;
    margin-bottom: 1ex;
    border: thin inset black;
    padding: 0.5em
}

.formal-name {
  @include u-font-family('sans');
  font-size: 120%;
  font-weight: bold;
  margin: 0.5em 0em
}

.subhead {
    font-size: 80%;
    @include u-font-family('sans');
}

.display-face {
  @include u-font-family('sans');
}

.definition > .description { @extend .bg-accent-cool-light; margin: 0.5em 0em;
  @extend .border-accent-cool-dark; padding: 0.5em; font-size: 90% }

.model-entry .description {
    font-size: 80%;
    margin: 0em 0em
}

.occurrence { @include u-font-family('sans'); font-size: 80%; font-style: italic }


.remarks { padding-left: 1em; border-left: thin solid grey 
}

.remarks p {
    margin-top: 0.5em
}

.model {
    margin-top: 1em
}

.model .model {
    margin-top: 0.5ex
}

.example {
    margin-top: 1em
}

.code {
    display: inline;
}

.q {
    display: inline;
}
.em {
    display: inline;
}
.strong {
    display: inline;
}

.name {
  @extend .text-accent-cool-darker;
  @extend .bg-accent-cool-lighter;
  @extend .font-mono-md;
}

a {
    text-decoration: none
}
a:hover {
    text-decoration: underline
}

ul.e_map {
  @extend .font-mono-md;
  list-style-type: none;
  margin: 0em
}

.map_label {
  @extend .font-mono-md;
  color: darkgrey
}


.model-descr {  margin-top: 0.2em; border-left: thin solid black;
       border-right: thin solid black;
       border-top: medium groove black; padding: 0.5em }
       
.model-descr:focus { @extend .bg-primary-lighter }

.model-descr div { margin: 0.5em 0em }
.model-summary { display: grid;
      grid-template-columns: 1fr 1fr 1fr 3fr;
      grid-gap: 0.5em; margin: 0em 0em 0.5em 0em }

.usename { @include u-font-family('mono'); }

.frmname { @include u-font-family('sans'); font-weight: bold; font-size: 80% }
.mtyp    { font-size: 80% }

.deflink { font-style: italic; font-size: 80%; @include u-font-family('sans');  }
.deflink code { font-style: normal }

.name-link { @include u-font-family('mono'); font-weight: bold }

.description { @extend .bg-primary-lighter; @extend .border-primary-darker; padding: 0.5em; font-size: 90% }

div.constraints * { margin: 0em }
div.constraints div.constraint { margin-top: 0.5em }
div.constraint  * { margin: 0em }

.model-summary .description { font-size: 80% }

