

/*.model-entry p { margin-top: units( 0.5 )*/
  
summary { display: list-item; cursor: pointer }

.field-header, .assembly-header, .flag-header {
  clear: inherit;
}

.label { @extend .usa-tag }

li.model-entry p {
  @extend .margin-top-05;
  @extend .margin-bottom-0 }

li.model-entry > *:not(:first-child) { @extend .font-body-xs }

li.model-entry h3 { margin: 0em }

.definition-header { @extend .padding-1; @extend .bg-base-lightest }

div.json-docs .definition-header { @extend .bg-primary-lighter }


.definition-header h2 { @extend .text-accent-cool-darker;
  @extend .margin-bottom-0;
  @extend .margin-top-0 }

.crosslink { @extend .float-right }

div.definition { @extend .margin-top-105 }

code.tagging { @extend .text-primary-darker }

div.example { @extend .usa-accordion;
  @extend .usa-accordion--bordered }

div.example h3 { @extend .usa-accordion__heading }

div.example h3 button { @extend .usa-accordion__button }

div.example div.example-content { @extend .usa-accordion__content }

span.model-description { @extend .font-body-xs }

div.remarks { @extend .measure-6;
  @extend .border-base-light;
  @extend .border-left-05;
  @extend .padding-left-1;
  @extend .font-body-xs }

.occurrence { @extend .text-primary }

button.schema-link { @extend .usa-button }

/* Schema Model Map styles */


.OM-map summary {list-style-position: outside }


div.OM-map {
  margin-top: 0ex;
  margin-bottom: 0ex;
  @include u-font-family('mono');
  @extend .text-ink;
}

div.usa-layout-docs-main_content > div.OM-map {
  @extend .border-base-light; }

div.OM-map {
  margin-left: 2em; }

.OM-entry {
  padding-right: 0.5rem;
  margin-top: 0rem;
}

div.OM-map p {
  margin: 0ex; }

span.OM-lit {
  @include u-font-family('sans');
  font-weight: normal;
  font-style: normal; }

span.OM-emph {
  @include u-font-family('sans');
  font-weight: normal;
  font-style: italic; }

span.OM-cardinality {
  @include u-font-family('sans');
  font-weight: normal;
  font-style: normal;
  @extend .text-primary-vivid; }

span.OM-datatype { @extend .font-sans-sm }

.OM-name {
  @extend .text-primary; }

.OM-map a {
  text-decoration: none;
  @extend .text-primary; }

OM-map a:visited {
  @extend .text-primary; }

a.OM-name:hover {
  text-decoration: underline; }

details[open] > summary .show-closed {
    display: none; }

    
pre {
  @extend .bg-base-lighter
}

pre.json {
    @extend .bg-primary-lighter
}

.define-assembly,
.define-field,
.define-flag {
    margin-top: 1ex;
    margin-bottom: 1ex;
    border: thin inset black;
    padding: 0.5em
}

.formal-name {
  @extend .font-sans-lg;
  font-weight: bold;
  margin: 0.5em 0em
}

.subhead {
    font-size: 80%;
    @include u-font-family('sans');
}

.display-face {
  @include u-font-family('sans');
}

.occurrence { @extend .font-sans-sm; font-style: italic }

.remarks { padding-left: 1em; border-left: thin solid grey 
}

.remarks p {
    margin-top: 0.5em
}

.model {
    margin-top: 1em
}

.model .model {
    margin-top: 0.5ex
}

.example {
    margin-top: 1em
}

.code {
    display: inline;
}

.q {
    display: inline;
}
.em {
    display: inline;
}
.strong {
    display: inline;
}

.name {
  @extend .text-accent-cool-darker;
  @extend .bg-accent-cool-lighter;
  @extend .font-mono-md;
}

a {
    text-decoration: none
}
a:hover {
    text-decoration: underline
}

ul.e_map {
  @extend .font-mono-md;
  list-style-type: none;
  margin: 0em
}

.map_label {
  @extend .font-mono-md;
  color: darkgrey
}

.model-descr { @extend .border-y; @extend .border-primary-dark }
       
.model-descr:focus { @extend .bg-primary-lighter }

.model-descr div { margin: 0.5em 0em }
.model-summary { display: grid;
      grid-template-columns: 1fr 1fr 1fr 3fr;
      grid-gap: 0.5em; margin: 0em 0em 0.5em 0em }

.usename { @include u-font-family('mono'); }

.frmname { @include u-font-family('sans'); font-weight: bold; font-size: 80% }
.mtyp    { font-size: 80% }

.deflink { font-style: italic; font-size: 80%; @include u-font-family('sans');  }
.deflink code { font-style: normal }

.name-link { @include u-font-family('mono'); font-weight: bold }

.description { @extend .bg-primary-lighter; @extend .border-primary-darker; padding: 0.5em; font-size: 90% }

div.constraints * { margin: 0em }
div.constraints div.constraint { margin-top: 0.5em }
div.constraint { margin: 0em; padding: 0em 0.5em; font-size: smaller;
   @extend .bg-secondary-lighter; @extend .border-y; @extend .border-secondary-vivid;
   max-height: 3em;
   overflow: clip; }

div.constraint:hover { max-height: unset; transition-duration: 2s }

.definition > .description { @extend .bg-accent-cool-light; margin: 0.5em 0em;
  @extend .border-accent-cool-dark; padding: 0.5em; font-size: 90% }

.model-entry .description {
    font-size: 80%;
    margin: 0em 0em
}

