---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    {% include meta.html %}
    {% include styles.html %}
    {% if site.google_analytics_ua or site.dap_agency %}
      {% include analytics.html %}
    {% endif %}
  </head>
  <body class="{{ layout.class }} {{ page.class }} {% if site.site_width %}site-{{ site.site_width }}{% endif %}">

    {% include skipnav.html %}
    {% include header.html %}

    {% assign hero = page.hero %}
    {% include components/hero.html %}

    {% if page.tagline and page.intro %}
    <section class="usa-grid usa-section">
      <div class="usa-width-one-third">
        <h2>{{ page.tagline }}</h2>
      </div>
      <div class="usa-width-two-thirds">
        {{ page.intro | markdownify }}
      </div>
    </section>
    {% endif %}

    {% capture _graphics %}
      {% include graphic-list.html graphics=page.graphics %}
    {% endcapture %}

    {% if page.graphics_position != 'after' %}
      {{ _graphics }}
    {% endif %}

    <main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %}>
          {{ content }}
    </main>

    {% if page.graphics_position == 'after' %}
      {{ _graphics }}
    {% endif %}

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
