
@namespace url(http://csrc.nist.gov/ns/oscal/specml);

* { display: block }

SPECIFICATION { font-family: 'Corbel'; padding: 0.5rem }

head { font-size: 150% }

div head { font-size: 90%; font-weight: bold }

p { margin-top: 1em }

li p { margin-top: 0.5em }


ul { margin-top: 1em; list-style: circle }

ul ul { margin-top: 0.5em }

li { margin-left: 2em ; display: list-item }

div { margin-top: 1em; border: thin solid black; padding: 0.5em; background-color: gainsboro;
    -oxy-foldable:true;
    -oxy-not-foldable-child: head }

section { margin-top: 1em; border: thin dotted black; padding: 0.5em;
    -oxy-foldable:true;
    -oxy-not-foldable-child: head }

section:before { content: 'section ' oxy_textfield(
            edit, "@id"  ) }

em { display: inline; font-style: italic }

strong { display: inline; font-weight: bold }

code { display: inline; font-family: monospace; font-size: 90% }

q { display: inline; quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

term { display: inline; font-family: sans-serif; font-weight: bold; font-size: 80% }

revisit { display: inline; font-family: sans-serif; font-size: 90%; color: darkorange; background-color: yellow }

propose { display: inline; font-family: sans-serif; font-size: 90%; color: steelblue; background-color: gainsboro }

tagging { font-family: monospace; white-space: pre-wrap; padding: 0.5em; margin: 0.5em 0em; font-size: 80%; line-height: 130% }
tagging[whose=source_catalog] { background-color: #FFF0F0 }
tagging[whose=source_profile] { background-color: #F0FFF0 }
tagging[whose=target_catalog] { background-color: #F0F0FF }
tagging[whose=inter_catalog] { background-color: #F0F0FF }

hi { display: inline; font-style: italic; font-weight: bold; color: grey }
tagging[whose=source_catalog] hi { background-color: #FFCCCC }
tagging[whose=source_profile] hi { background-color: #CCFFCC }
tagging[whose=target_catalog] hi { background-color: #CCCCFF }
tagging[whose=inter_catalog] { background-color: #CCCCFF }

tagging:after {
    content:
        oxy_combobox(
            edit, "@whose",
            editable, false,
            values, "source_catalog, source_profile, target_catalog, inter_catalog");
}

mapping:before {
     background-color: white; padding: 0em 0.5em; border: thin solid black;
     content:
            'unit test: ' oxy_urlChooser(
              edit, "@unit-test",
              columns 25) }

mapping { background-color: gainsboro; border: medium double black; padding: 0.5em; margin: 1em 0em }

cf { background-color: pink; font-family: sans-serif; font-weight: bold; font-size: 80% }

cf:before {
     content:
            'example: ' oxy_urlChooser(
              edit, "@file",
              columns 35) }

xref { display: inline }


xref:after { content: oxy_combobox(
            edit, "@rid",
            editable, false
            )}

xref:before { font-weight: bold; font-size: 80%; content: " [See section \201C" oxy_xpath(
  'for $t in (@rid) return //section[@id=$t]/string(head)')  "\201D] " }

tgt { display: inline; color: midnightblue; font-weight: bold; font-size: 90%; font-family: sans-serif }

int { display: inline; color: pink; font-weight: bold; font-size: 90%; font-family: sans-serif }

src { display: inline; color: darkgreen; font-weight: bold; font-size: 90%; font-family: sans-serif }

xpath { display: inline; font-family: sans-serif; font-size: 90%; font-weight: bold }


section head { font-size: 130% }

section section head { font-size: 110%; font-style: italic }

section section section head { font-size: 100% }

section section section section head { font-size: 90% }
