* { display: block } 

control-set { max-width: 48em }

control { padding: 0.5em; margin: 0.5em; border: medium double black }

prop:before { content: oxy_textfield(
          edit, '@name',
          columns, 10); }

prop { display: inline-block; background-color: pink; border: thin outset pink;
  margin: 2px; padding: 2px; font-weight: bold; font-family: sans-serif; font-size: 80% }

title { font-size: 150%; font-weight: bold }

stmt { -oxy-foldable: true; 
padding: 0.5em; margin: 0.5em; border: thin dotted black; background-color: cornsilk }

stmt:before { font-weight: bold; color: midnightblue; font-family: sans-serif;
          content: attr(name) ' ' oxy_textfield(
          edit, '@name',
          columns, 20);
 }

p { }
italic { display: inline; font-style: italic }

list { padding-left: 2em }
list-item { display: list-item }
list-item > p { margin-top: 0.5em }

std:before {
    content: 
        oxy_urlChooser(        
        edit, "@href",
        columns 53);
}
std { color: darkred; font-weight: bold }

point {  display: list-item; margin-left: 1em }
