// This file should not be modified unless by an advanced user.


// U.S. Web Design System setup
$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

// Typography
{% if site.data.theme.fonts.sans %}$font-sans: {{ site.data.theme.fonts.sans }};{% endif %}
{% if site.data.theme.fonts.serif %}$font-serif: {{ site.data.theme.fonts.serif }};{% endif %}
{% if site.data.theme.fonts.normal %}$font-normal: {{ site.data.theme.fonts.normal }};{% endif %}
{% if site.data.theme.fonts.bold %}$font-bold: {{ site.data.theme.fonts.bold }};{% endif %}

// Color - USA banner
{% if site.data.theme.colors.usa-banner.usa-banner-bg %}$usa-banner-bg: {{ site.data.theme.colors.usa-banner.usa-banner-bg }};{% endif %}
{% if site.data.theme.colors.usa-banner.usa-banner-text %}$usa-banner-text: {{ site.data.theme.colors.usa-banner.usa-banner-text }};{% endif %}
{% if site.data.theme.colors.usa-banner.usa-banner-link %}$usa-banner-link: {{ site.data.theme.colors.usa-banner.usa-banner-link }};{% endif %}
{% if site.data.theme.colors.usa-banner.usa-banner-link-hover %}$usa-banner-link-hover: {{ site.data.theme.colors.usa-banner.usa-banner-link-hover }};{% endif %}

// Header colors
{% if site.data.theme.colors.header.header-bg %}$header-bg: {{ site.data.theme.colors.header.header-bg }};{% endif %}
{% if site.data.theme.colors.header.header-title %}$header-title: {{ site.data.theme.colors.header.header-title }};{% endif %}
{% if site.data.theme.colors.header.header-link %}$header-link: {{ site.data.theme.colors.header.header-link }};{% endif %}
{% if site.data.theme.colors.header.header-link-hover %}$header-link-hover: {{ site.data.theme.colors.header.header-link-hover }};{% endif %}

// Color - Primary
{% if site.data.theme.colors.primary %}$color-primary: {{ site.data.theme.colors.primary }};{% endif %}
{% if site.data.theme.colors.primary-darker %}$color-primary-darker: {{ site.data.theme.colors.primary-darker }};{% endif %}

// Color - Text and links
{% if site.data.theme.colors.base %}$color-base: {{ site.data.theme.colors.base }};{% endif %}
{% if site.data.theme.colors.visited %}$color-visited: {{ site.data.theme.colors.visited }};{% endif %}

// Color - Additional variables
{% if site.data.theme.colors.color-gray-lightest %}$color-gray-lightest: {{ site.data.theme.colors.color-gray-lightest }};{% endif %}

// Color - Navigation
// Top nav
{% if site.data.theme.colors.top-navigation.top-nav-bg %}$top-nav-bg: {{ site.data.theme.colors.top-navigation.top-nav-bg }};{% endif %}
{% if site.data.theme.colors.top-navigation.top-nav-link %}$top-nav-link: {{ site.data.theme.colors.top-navigation.top-nav-link }};{% endif %}
{% if site.data.theme.colors.top-navigation.top-nav-link-hover %}$top-nav-link-hover: {{ site.data.theme.colors.top-navigation.top-nav-link-hover }};{% endif %}
{% if site.data.theme.colors.top-navigation.top-nav-link-hover-bg %}$top-nav-link-hover-bg: {{ site.data.theme.colors.top-navigation.top-nav-link-hover-bg }};{% endif %}
{% if site.data.theme.colors.top-navigation.top-nav-link-current %}$top-nav-link-current: {{ site.data.theme.colors.top-navigation.top-nav-link-current }};{% endif %}
{% if site.data.theme.colors.top-navigation.top-nav-dropdown-bg %}$top-nav-dropdown-bg: {{ site.data.theme.colors.top-navigation.top-nav-dropdown-bg }};{% endif %}
{% if site.data.theme.colors.top-navigation.top-nav-dropdown-link %}$top-nav-dropdown-link: {{ site.data.theme.colors.top-navigation.top-nav-dropdown-link }};{% endif %}
{% if site.data.theme.colors.top-navigation.top-nav-dropdown-link-hover-bg %}$top-nav-dropdown-link-hover-bg: {{ site.data.theme.colors.top-navigation.top-nav-dropdown-link-hover-bg }};{% endif %}

// Side nav
{% if site.data.theme.colors.side-navigation.side-nav-bg %}$side-nav-bg: {{ site.data.theme.colors.side-navigation.side-nav-bg }};{% endif %}
{% if site.data.theme.colors.side-navigation.side-nav-link %}$side-nav-link: {{ site.data.theme.colors.side-navigation.side-nav-link }};{% endif %}
{% if site.data.theme.colors.side-navigation.side-nav-link-hover %}$side-nav-link-hover: {{ site.data.theme.colors.side-navigation.side-nav-link-hover }};{% endif %}
{% if site.data.theme.colors.side-navigation.side-nav-link-hover-bg %}$side-nav-link-hover-bg: {{ site.data.theme.colors.side-navigation.side-nav-link-hover-bg }};{% endif %}
{% if site.data.theme.colors.side-navigation.side-nav-link-current %}$side-nav-link-current: {{ site.data.theme.colors.side-navigation.side-nav-link-current }};{% endif %}

// Color - Hero
{% if site.data.theme.colors.hero.hero-bg %}$hero-bg: {{ site.data.theme.colors.hero.hero-bg }};{% endif %}
{% if site.data.theme.colors.hero.hero-header-alt %}$hero-header-alt: {{ site.data.theme.colors.hero.hero-header-alt }};{% endif %}
{% if site.data.theme.colors.hero.hero-header %}$hero-header: {{ site.data.theme.colors.hero.hero-header }};{% endif %}
{% if site.data.theme.colors.hero.hero-text %}$hero-text: {{ site.data.theme.colors.hero.hero-text }};{% endif %}
{% if site.data.theme.colors.hero.hero-link %}$hero-link: {{ site.data.theme.colors.hero.hero-link }};{% endif %}
{% if site.data.theme.colors.hero.hero-button-bg %}$hero-button-bg: {{ site.data.theme.colors.hero.hero-button-bg }};{% endif %}
{% if site.data.theme.colors.hero.hero-button-text %}$hero-button-text: {{ site.data.theme.colors.hero.hero-button-text }};{% endif %}

// Color - Alt section
{% if site.data.theme.colors.alt-section.bg-color %}$alt-section-bg: {{ site.data.theme.colors.alt-section.bg-color }};{% endif %}
{% if site.data.theme.colors.alt-section.header-color %}$alt-section-header: {{ site.data.theme.colors.alt-section.header-color }};{% endif %}
{% if site.data.theme.colors.alt-section.text-color %}$alt-section-text: {{ site.data.theme.colors.alt-section.text-color }};{% endif %}
{% if site.data.theme.colors.alt-section.link-color %}$alt-section-link: {{ site.data.theme.colors.alt-section.link-color }};{% endif %}
{% if site.data.theme.colors.alt-section.link-hover-color %}$alt-section-link-hover: {{ site.data.theme.colors.alt-section.link-hover-color }};{% endif %}

// Color - Footer
{% if site.data.theme.colors.footer.primary-footer-bg %}$primary-footer-bg: {{ site.data.theme.colors.footer.primary-footer-bg }};{% endif %}
{% if site.data.theme.colors.footer.primary-footer-link %}$primary-footer-link: {{ site.data.theme.colors.footer.primary-footer-link }};{% endif %}
{% if site.data.theme.colors.footer.footer-bg %}$footer-bg: {{ site.data.theme.colors.footer.footer-bg }};{% endif %}
{% if site.data.theme.colors.footer.footer-text %}$footer-text: {{ site.data.theme.colors.footer.footer-text }};{% endif %}
{% if site.data.theme.colors.footer.footer-link %}$footer-link: {{ site.data.theme.colors.footer.footer-link }};{% endif %}

@import 'uswds/all';
@import 'components/all';

{% for item in site.data.navigation.primary %}
  {% if item.class %}
    @import 'components/nav-buttons';
  {% break %}
  {% endif %}
{% endfor %}

// Setting site width
{% if site.site_width %}
  @import 'components/site-width';
{% endif %}

@import "sass-code-highlight/colorful";
