name: OSCAL Validation

on:
  workflow_dispatch:
  push:
    branches: [ main, develop, add-171a-plan ]
    paths:
      - "**/*.json"
      - "**/*.xml"
      - "**/*.yaml"
  pull_request:
    branches: [ main, develop ]
    paths:
      - "**/*.json"
      - "**/*.xml"
      - "**/*.yaml"

jobs:
  validate-oscal:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (no submodules)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: "false"
          lfs: "false"
          persist-credentials: "false"

      - name: Setup Java (required for CLI)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: oscal-cli --version
        uses: oscal-club/oscal-cli-action@v2.0.1
        with:
          args: --version

      - name: Validate metaschema
        uses: oscal-club/oscal-cli-action@v2.0.1
        with:
          args: "metaschema validate ./src/metaschema/oscal_component_metaschema.xml"

      - name: Validate component definition
        uses: oscal-club/oscal-cli-action@v2.0.1
        with:
          args: "component-definition validate ./src/content/nist_sp_800-171_rev2_component.json"