name: OSCAL CI/CD
on:
  push:
    branches:
      - main
      - develop
      - "feature-*"
      - "release-*"
  pull_request:
    branches:
      - main
      - develop
      - "feature-*"
      - "release-*"
  workflow_dispatch:
jobs:
  checks:
    name: Status Checks
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          submodules: recursive
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6
        with:
          node-version-file: "build/.nvmrc"
          cache: "npm"
          cache-dependency-path: "build/package-lock.json"
      - name: Install xmllint
        run: sudo apt-get install -y libxml2-utils
      - name: Run all pipelines
        run: |
          make --keep-going all
        working-directory: build
