name: OSCAL CI/CD
on:
  push:
    branches:
      - main
      - develop
      - "feature-*"
      - "release-*"
  pull_request:
    branches:
      - main
      - develop
      - "feature-*"
      - "release-*"
  workflow_dispatch:
jobs:
  checks:
    name: Status Checks
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: recursive
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version-file: "build/.nvmrc"
          cache: "npm"
          cache-dependency-path: "build/package-lock.json"
      - name: Install xmllint
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libxml2-utils
      - name: Run all pipelines
        run: |
          make --keep-going all
        working-directory: build
